root = true

[*]
# Replace tabs with spaces;
indent_style = space
# Line indentation 4;
indent_size = 4
# The newline character is `lf`, optional `crlf` or `lf`
end_of_line = lf
# Set the file encoding
charset = utf-8
# Remove trailing blank characters when saving;
trim_trailing_whitespace = true
# Add a newline at the end of the file;
insert_final_newline = true


[*.{js,css,html,vue}]
indent_style = space
indent_size = 4

[*.{md,markdown}]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
